.navbar {
    background-color: white;
    text-align: right;
    margin: 0;
    padding: 20px;
}
*{
    margin: 0;
    padding: 0;
}
.buttons {
    color: white;
    background-color: #00BFFF;
    border-color: #00BFFF;
    height: 35px;
    width: 70px;
    border-radius: 10px;
}

body {
    background-color: #00BFFF;
}
#sign {
    display: block;
    text-align: left;
    height: 350px;
    width: 300px;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 10px 10px;
    box-sizing: border-box;
}

p {
    margin: 25px 25px 25px 25px;
    width: 90%;
    border-color: white;

}
h1 {
    padding-top: 10px;
    padding-left: 5px;
}
.submit {
    color: white;
    background-color: #00BFFF;
    border-color: #00BFFF;
    height: 30px;
    width: 90%;
    align-self: center;
    margin-left: 15px;

}
#amazon {
    height: 50px;
    width: 50px;
    align-self: center;
    margin-top: 10px;
    margin-left: 60px;
}
#insta {
    float: right;
    height: 50px;
    width: 50px;
    align-self: center;
    margin-top: 10px;
    margin-right: 60px;
}